<nav>
    <div class="site-title">
      <p>Inventory</p>
    </div>
    <ul>
      <li><a href="/">All Inventory Items</a></li>
      <li><a href="/add">Add an Item</a></li>
      <li><a href="/inactive-items">Recover deleted inventory items</a></li>
    </ul>
  </nav>