<nav>
    <ul>
      <li class='title'>Inventory</li>
      <li><a href="/">All Inventory Items</a></li>
      <li><a href="/add">Add an Item</a></li>
      <li><a href="/inactive-items">Recover deleted inventory items</a></li>
    </ul>
  </nav>
  <style>
    body{
      margin: 0;
    }
    ul li{
      list-style-type:none;
      padding:10px;
      
    }
    ul{
      display:flex;
      justify-content: center;
    }
    .title{
       font-weight: 200;
    }
  </style>